.cart-product {
  display: flex;
  justify-content: space-between;
  padding:30px 50px 26px 27px;
  border-bottom:1px solid #dedede;

  @media all and (max-width: $screen-smart) {
    padding:15px 15px 15px 15px;
  }

  &__wrap-1 {
    display: flex;
    padding-right: 10px;
    flex-grow: 1;
  }

  &__wrap-1-1 {
    width: 70px;
    min-width: 70px;

    @media all and (max-width: $screen-smart) {
      width: 37px;
      min-width: 37px;
    }
  }

  &__wrap-1-2 {
    @include flex-v-align;
    padding-left: 20px;

    @media all and (max-width: $screen-smart) {
      padding-left: 10px;
    }
  }

  &__wrap-2 {
    display: flex;
    justify-content: space-between;
  }

  &__wrap-2-1 {
    @include flex-v-align;
  }

  &__wrap-2-2 {
    @include flex-v-align;
    padding-left: 20px;

    @media all and (max-width: $screen-smart) {
      padding-left: 10px;
    }
  }

  &__input-wrap {

  }

  &__image {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }

  &__title {
    font-size: 15px;
    color: black;
    padding-bottom: 5px;

    @media all and (max-width: $screen-smart) {
      font-size: 11px;
    }
  }

  &__price {
    font-family: 'Proxima Nova Semibold', sans-serif;
    font-size: 15px;
    color: black;
    white-space: nowrap;
    min-width: 75px;

    @media all and (max-width: $screen-smart) {
      font-size: 10px;
      min-width: 50px;
    }
  }

  &__delete {
    display: block;
    font-size: 12px;
    padding-top: 5px;
    color: #ff3030;
    cursor: pointer;

    @media all and (max-width: $screen-smart) {
      font-size: 9px;
    }

  }


}