$screen-smart: 599px;
$screen-smart-l: 760px;
$screen-tablet: 992px;
$screen-laptop: 1300px;
$screen-laptop-l: 1400px;

$content-max-width:1170px; //1170

$text-color-1: #d32d98;  //розовый
$text-color-2: #d9409a;  //розовый 2
$text-color-3: #1a1a1e;  //темный
$text-color-4: #404040;  //темно серый цвет заголовков

$bg-pink:#bf55a1;

$border-color-1:#eeeeee; // серый цвет рамок

$bg-color-1:#f4f4f4; // светло серый

$main-font: 'Proxima Nova', sans-serif;

